
Saved/AutoScreenshot.png

Saved/Config/Windows/EditorPerProjectUserSettings.ini

Saved/Config/Windows/Engine.ini

Saved/Logs/GMTKJoinedTogether.log

Content/ThirdPersonBP/Maps/ThirdPersonExampleMap_BuiltData.uasset

Intermediate/CachedAssetRegistry.bin

Saved/Config/CrashReportClient/UE4CC-Windows-7F48544746E1F1732A5E7BA9370A5A78/CrashReportClient.ini

*.log

Saved/Config/WorldState/3393405467.json

Saved/Config/CrashReportClient/UE4CC-Windows-748E253A40FF5F6EF7D721BE9E15F9F5/

Saved/Config/CrashReportClient/UE4CC-Windows-C39BE0E0431F07C02F57A484F6BCBAC0/
